<%= render 'events/navbar' %>
<section id="showEvents">
    <div class="container">
        <hr class="event__line">
        <h2 class="text-center mt-2 pb-3 form__text">Evento</h2>

        <h6 class="showEvents__text">Nome do Evento</h6>
        <h3 class="showEvents__text--description"><%= @event.event_name %></h3>

        <h6 class="showEvents__text">Ministrante</h6>
        <h4 class="showEvents__text--description"><%= @event.event_ministrant %></h4>

        <h6 class="showEvents__text">Local do Evento</h6>
        <h4 class="showEvents__text--description"><%= @event.event_local %></h4>

        <h6 class="showEvents__text">Data do Evento</h6>
        <h4 class="showEvents__text--description"><%= Date.parse(@event.event_date).strftime("%d/%m/%Y")%></h4>

        <h6 class="showEvents__text">Horário do Evento</h6>
        <h4 class="showEvents__text--description"><%= @event.event_hour %></h4>

        <h6 class="showEvents__text">Vagas disponíveis</h6>
        <h4 class="showEvents__text--description"><%= @event.event_slots %></h4>
        
        <h6 class="showEvents__text">Descrição do Evento</h6>
        <h6 class="text-justify showEvents__text--description"><%= @event.event_description %></h6>

        <button type="button" class="btn btn-primary showEvents__button">Inscrever-se</button>
        
    </div>
</section>

<section id="footer_registerEvent">
    <div class="footer__backgroud">
        <div class="container footer__container">
            <div class="flex-item">
                <%= image_tag "unieuro_branca.svg", class:"footer__unieuroLogo" %>
            </div>

            <div class="flex-item mobile">        
                <a href="https://www.facebook.com/7sightjr/" target="_blank">
                    <%= image_tag "facebook.svg",  class:"footer__iconSize" %>
                </a>
                <a href="https://twitter.com/7sightJr" target="_blank">
                    <%= image_tag "twitter.svg",  class:"footer__iconSize" %>
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <%= image_tag "youtube.svg", class:"footer__iconSize" %>
                </a>
                <a href="https://www.instagram.com/7sightjr/" target="_blank">
                    <%= image_tag "instagram.svg", class:"footer__iconSize" %>
                </a>
            </div>

            <div class="flex-item">
                <div class="footer__textbox">
                    <h6 class="footer__text">Central de Atendimento</h6>
                    <h2 class="footer__text footer__text--size">4020 7525</h2>
                </div>
            </div>
        </div>
    </div>

</section>

