<%= render 'reusables/register-navbar' %>

<section id="showEvents">
    <div class="container">
        <hr class="event__line">
        <h2 class="text-center mt-2 pb-3 form__text">Evento</h2>

        <h6 class="showEvents__text">Nome do Evento</h6>
        <h3 class="showEvents__text--description"><%= @event.event_name %></h3>

        <h6 class="showEvents__text">Ministrante</h6>
        <h4 class="showEvents__text--description"><%= @event.event_ministrant %></h4>

        <h6 class="showEvents__text">Local do Evento</h6>
        <h4 class="showEvents__text--description"><%= @event.event_local %></h4>

        <h6 class="showEvents__text">Data do Evento</h6>
        <h4 class="showEvents__text--description"><%= Date.parse(@event.event_date).strftime("%d/%m/%Y")%></h4>

        <h6 class="showEvents__text">Horário do Evento</h6>
        <h4 class="showEvents__text--description"><%= @event.event_hour %></h4>

        <h6 class="showEvents__text">Vagas disponíveis</h6>
        <h4 class="showEvents__text--description"><%= @event.event_slots %></h4>
        
        <h6 class="showEvents__text">Descrição do Evento</h6>
        <h6 class="text-justify showEvents__text--description"><%= @event.event_description %></h6>

        <button type="button" class="btn btn-primary showEvents__button">Inscrever-se</button>
        
    </div>
</section>

<%= render 'reusables/register-footer' %>

