<section id="footer_registerEvent">
    <footer class='footer_backgroud' >
        <div class='container_footer'>
        <div class="row justify-content-around">
            <div class="col align-self-center">
                <div class="flex-item footer__itemContainer">
                    <%= image_tag "unieuro_branca.svg", class:"footer__unieuroLogo" %>
                </div>
            </div>
            <div class="col align-self-center footer_icons">
                <a href="https://www.facebook.com/7sightjr/" target="_blank">
                    <%= image_tag "facebook.svg",  class:"footer__iconSize" %>
                </a>
                <a href="https://twitter.com/7sightJr" target="_blank">
                    <%= image_tag "twitter.svg",  class:"footer__iconSize" %>
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <%= image_tag "youtube.svg", class:"footer__iconSize" %>
                </a>
                <a href="https://www.instagram.com/7sightjr/" target="_blank">
                    <%= image_tag "instagram.svg", class:"footer__iconSize" %>
                </a>
            </div>
            <div class="col align-self-center ">
            
                <h5 class="footer_text_t">Central de Atendimento</h5>
                <h2 class="footer_text_m">4020 7525</h2>
            
            </div>

      </div>
        
        </div>
    </footer>
</section>