<section id="footer_registerEvent">
    <div class="footer__backgroud">
        <div class="container footer__container">
            <div class="flex-item">
                <%= image_tag "unieuro_branca.svg", class:"footer__unieuroLogo" %>
            </div>

            <div class="flex-item mobile">        
                <a href="https://www.facebook.com/7sightjr/" target="_blank">
                    <%= image_tag "facebook.svg",  class:"footer__iconSize" %>
                </a>
                <a href="https://twitter.com/7sightJr" target="_blank">
                    <%= image_tag "twitter.svg",  class:"footer__iconSize" %>
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <%= image_tag "youtube.svg", class:"footer__iconSize" %>
                </a>
                <a href="https://www.instagram.com/7sightjr/" target="_blank">
                    <%= image_tag "instagram.svg", class:"footer__iconSize" %>
                </a>
            </div>

            <div class="flex-item">
                <div class="footer__textbox">
                    <h5 class="footer__text">Central de Atendimento</h5>
                    <h2 class="footer__text footer__text--size">4020 7525</h2>
                </div>
            </div>
        </div>
    </div>

</section>