<h1 class="footer">footer</h1>
<footer class="footer_backgroud">
<div class="container">
    <div class="row align-items-center">
        <div class="col footer_logo">
        <%= image_tag "logounieuro.png" %> </a>
        </div>
        <div class="col footer_icon">
        <%= image_tag "facebook.png" %>
        <%= image_tag "twitter.png" %>
        <%= image_tag "youtube.png" %>
        <%= image_tag "instagram.png" %>
        </div>
        <div class="col footer_text_color">
            <h5>Central de Atendimento</h5>
            <h2>4020 7525</h2>
        </div>
    </div>
    
</div>
<div class="footer_desenvolvido">
    <h6> Desenvolvido por 7Sight - 2019</h6>
</div>
</footer>